:root {
  --primary: #936639;
  --second: #d4a373;
  --bg: #100c08;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Agbalumo", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #2c1806;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .nav-logo {
  font-size: 1.8rem;
  color: white;
  font-style: italic;
}

.navbar .nav-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--second);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.3rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  padding: 1rem 4rem;
  margin-top: 1rem;
  display: inline-block;
  background-color: var(--primary);
  color: #fff;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
  background-color: var(--second);
}
/* Hero section End */

/* About */
.about,
.menu,
.contact,
.membership {
  padding: 10rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2,
.membership h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 1rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about.row.content p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.6rem;
}

.about .content h3 span {
  color: var(--primary);
}
/* About End */

/* Menu */

.menu h2,
.contact h2,
.membership h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 2rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 40%;
}

.menu .row .menu-card .menu-title {
  margin: 1rem auto 0.5rem;
}

.menu .row .menu-card .menu-price {
  text-decoration: underline;
}

.menu .row .menu-card .menu-title:hover {
  color: var(--second);
  cursor: pointer;
}

/* Menu End */

/* Contact */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: white;
}

.contact .row form button {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 1rem;
}

.contact .row form button:hover {
  background-color: var(--second);
}
/* Contact End */

/* Membership */
.membership .row {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
}

.membership .row h2 {
  border-bottom: 1px solid var(--primary);
  padding-bottom: 5px;
}

.membership .row .membership-paket {
  width: 300px;
  height: 530px;
  background-color: var(--second);
  border-radius: 1rem;
  border-bottom: 1px solid var(--primary);
  margin: 1rem;
  text-align: center;
}

.membership .row .membership-paket:hover {
  background-color: #5a3f24;
  cursor: pointer;
}

.membership .row .membership-paket h2 {
  text-shadow: 2px 2px 4px rgba(5, 5, 5, 0.9);
}

.membership h2 span {
  color: var(--primary);
}

.membership .row .membership-paket a {
  color: #eee;
  border-radius: 0.4rem;
  justify-content: center;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: var(--primary);
}

.membership .row .membership-paket p {
  text-align: center;
  margin: 2rem;
}

.membership p {
  text-align: center;
}

.membership .row .membership-paket h2 span {
  color: var(--primary);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
}

/* Footer  */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit p span {
  cursor: pointer;
}

footer .credit p a {
  cursor: pointer;
  color: var(--second);
}

footer .credit p a:hover {
  color: #000;
}
/* Footer End */

/* Membership End */

/* Media Query */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24ren;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.3rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .membership .row {
    flex-wrap: wrap;
  }

  .membership .row .membership-paket {
    margin-top: 20px;
    width: 200px;
    height: 320px;
    margin-top: 0;
  }
}
/* Hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
